
<h2>Create a City</h2>
<form action="/createReference" method="POST">


  <div>
    <label class="form-label">City ID:<input class="form-control" type="text" name="_id"/></label>
  </div>
  <div>
    <label class="form-label">City:<input class="form-control" type="text" name="city" /></label>
  </div>

  <div>
    <label class="form-label">Loc:<input class="form-control" type="text" name="loc" /></label>
  </div>

  <div>
    <label class="form-label">Pop:<input class="form-control" type="text" name="pop"/></label>
  </div>

  <div>
    <label class="form-label">State:<input class="form-control" type="text" name="state" />
    </label>
  </div>

  <button class="btn btn-primary" type="submit">Create</button>
</form>
